.zuri-foot {
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.zuri-icons {
  display: flex;
  gap: 10px;
}

.foot03 {
  padding-right: 10px;
}

@media screen and (max-width: 900px) {
  .zuri-foot {
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .zuri-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .zuri-text {
    padding-right: 20px;
  }
}
