.heading {
  text-align: center;
  margin-top: 40px;
  font-size: x-large;
}

.h-text {
  text-align: center;
  font-size: large;
}

.start {
  text-align: center;
  margin-top: 40px;
}

.now {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.expect {
  margin-top: 40px;
  margin-left: 30px;
  word-spacing: 10px;
}

.expt-01,
.expt-02,
.expt-03 {
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expt-02 {
  margin-top: 40px;
}

.imgdiv,
.imgdiv2,
.imgdiv3 {
  margin-right: 40px;
  margin-bottom: 20px;
}

.imgdiv2 img,
.imgdiv3 img {
  width: 500px;
}

@media screen and (max-width: 900px) {
  .expt-01,
  .expt-02,
  .expt-03 {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 300px;
  }

  .imgdiv2 img,
  .imgdiv3 img {
    width: 300px;
  }
}
